{% embed 'partials/blank.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}

		<div>
			{% for child in collection %}
				{{ child.content }}
				<b>{{ child.header.quote.attribution }}</b>
	    {% endfor %}
		</div>

	{% endblock %}

{% endembed %}


