/* FORMS */

input {
  display: inline-block;
  padding: 0.5em;
  margin: 0 0 1em;
  color: $font-color;
  font-family: $body;
  appearance: none;
  border: 1px solid $border-color;
  border-radius: $radius;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.1);
  transition: all 0.2s ease;

  &::placeholder {
    color: lighten($font-color, 10%);
  }

  &:focus {
    border-color: darken($border-color, 20%);
    outline: 0;
  }
}

textarea {
  padding: 0.5em;
  margin: 0 0 1em;
  font-family: $body;
  border: 1px solid $border-color;
  border-radius: $radius;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.1);
  transition: all 0.2s ease;
  resize: none;

  &::placeholder {
    color: lighten($font-color, 10%);
  }

  &:focus {
    outline: 0;
    border-color: darken($border-color, 20%);
  }
}

input[type="submit"] {
  border: none;
  font-family: $body;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}