/* OBJECTS - HEADER */

header {
	display: flex;
	align-items: center;
	margin-top: 60px;
	padding: 0 50px;
}

.header__logo {
	margin: 0 30px;
}

.header__nav {

	a {
		display: inline-block;
		margin: 0 20px 20px;
		font-size: 2.4rem;
		font-weight: 600;
		text-decoration: none;
	}

	.active {
		border-bottom: 3px solid $border-color;
	}
}